@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 14px;
}

img {
    min-height: 100px;
}

/* sm */
@media (min-width: 640px) {

}

/* md */
@media (min-width: 768px) {

}

/* lg */
@media (min-width: 1024px) {
    html, body {
        font-size: 18px;
    }
}

/* xl */
@media (min-width: 1280px) {

}

/* 2xl */
@media (min-width: 1536px) {

}