@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 14px;
}

h3 {
    @apply uppercase text-xs tracking-widest text-gray-400
}

img {
    min-height: 100px;
}

.about {
    @apply mb-8
}


.about h3 {
    @apply mb-4
}

.table-cell {
    @apply pb-4
}

/* sm */
@media (min-width: 640px) {

}

/* md */
@media (min-width: 768px) {
    html, body {
        font-size: 16px;
    }

}

/* lg */
@media (min-width: 1024px) {
    
}

/* xl */
@media (min-width: 1280px) {
    html, body {
        font-size: 18px;
    }
}

/* 2xl */
@media (min-width: 1536px) {

}

